
@media (max-width: 930px) {
    .works__inner {
        flex-wrap: wrap;
    }
    .works__items {
        width: 50%;
        text-align: center;
        margin-top: 25px;
    }
    .works__title {
        margin-bottom: 0;
    }
    .works__text-box {
        border-left: none;
        border-right: none;
    }
    .footer {
        background-color: #e8663c;
    }
    .slider .container {
        padding: 0;
    }
}

@media (max-width: 900px) {
    .services-info {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .services-info__item {
        margin-top: 50px;
        /* width: calc(100% / 2 - 90px); */
    }
    .services {
        padding-top: 0;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer-content {
        max-width: 100%;
    }
    .footer-box {
        max-width: 50%;
        margin-top: 35px;
    }
    .footer__content:first-child {
        flex-grow: 1;
    }
    .container {
        padding: 5px;
    }
   
}
@media (max-width: 800px) {
    .footer-box {
        width: 45%;
    }
    .works {
        margin-bottom: 25px;
    }
    .services-info__item {
        /* width: calc(100% / 2 - 10px); */
    }
}
@media (max-width: 600px) {
    .header__menu-btn {
        display: block;
    }
    .header__menu-list {
        display: none;
        background-color: #646060;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        padding: 15px;
        z-index: 2;
    }
    .header__menu-item + .header__menu-item {
        margin-left: 0;
        margin-top: 15px;
    }
    .services-info__item {
        display: block;
    }
    .slider-top .slick-arrow {
        display: none !important;
    }
    .slider-down {
        display: none;
    }
   
}

@media (max-width: 500px) {
    .slider-top__info {
        max-width: 235px;
        padding: 15px;
    }
    .works__items {
        width: 100%;
    }
  
    
}

@media (max-width: 450px) {
    .footer__inner {
        display: block;
    }
    .footer-box {
        width: 100%;
    }
    .footer__item {
        max-width: 100%;
    }
    
}